<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
    <th>Status</th>
  </tr>
  <tr *ngFor="let file of files">
    <td>{{ file.name }}</td>
    <td>
      <button (click)="startDownload(file)" [disabled]="file.isDownloading">Download</button>
      <button (click)="cancelDownload(file)" *ngIf="file.isDownloading">Cancel</button>
    </td>
    <td>
      <div *ngIf="file.isDownloading">
        <progress [value]="file.progress" max="100"></progress>
        {{ file.progress }}%
      </div>
      <div *ngIf="file.error" style="color: red;">
        Error: {{ file.error }}
      </div>
      <div *ngIf="!file.isDownloading && file.progress === 100" style="color: green;">
        Completed
      </div>
    </td>
  </tr>
</table>
